@charset "UTF-8";
#wrapper {
    background-color: lightgrey;
    max-width: 900px;
    margin: 0 auto;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

header {
    background-image: url(pics/background_header.jpg);
    background-position: center;
    height: 150px;
    text-align: center;
}

h1 {
    padding-top: 50px;
    font-size: 3em;
    color: #f90;
    background-color: rgba(0, 0, 0, 0.5);
}

#getRecepie {
    background-color: #e8c1c0;
    text-align: center;
    padding: 2em;
    padding-top: 1em;
}

#runBtn {
    background-color: #8a6e66;
    color: white;
    border-radius: 9px;
    margin-right: 10px;
}

label {
    font-size: 1.2em;
}

#showRecepie {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#dish {
    font-size: 2em;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    position: relative;
    display: inline-block;
}

a span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 1em;
    margin-top: -1em;
    margin-left: -50%;
    width: 100%;
    height: 2em;
    color: #f90;
    background-color: rgba(0, 0, 0, 0.5);
}

​